* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.message-form, .hash-form {
    margin: 20px auto auto 20px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 15vw;
}

.message-input, .hash-input {
    outline: none;
}

.message-input:invalid, .hash-input:invalid {
    border: 2px solid red;
}

.invalid-message-label, .invalid-hash-label {
    display: none;
}

.message-input:invalid + .invalid-message-label {
    display: block;
}

.hash-input:invalid + .invalid-hash-label {
    display: block;
}

.form-title {
    margin: 5px 0 0 0;
}

.form-output {
    margin: 5px 0 0 0;
}

.form-output > pre {
    display: inline;
    font-size: inherit;
    font-family: inherit;
}
